body {
  margin: 0;
}

/*
..Nav page stylings
*/

.header {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #D3D0CB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  z-index: 1;
  transition: all .8s;

  &.header--show li{
    transition: all .8s;
  }

  li {
    padding: 1em 1.5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    color: #D3D0CB;
    text-decoration-line: none;
  }

  li:hover {
    color: #9C6615;
  }

  &--show {
    background-color: #242526
  }

  &--hiden {
    background-color: none;
  }
}

/*
..Hero page stylings
*/
$red: #9C6615;

.hero__container {
  height: 100vh;
  background: url('./image-from-rawpixel-id-2252698-jpeg.jpg');
  color: #D3D0CB;

  h1 {
    font-size: 5em;
    border-bottom: thick double #9C6615;
    font-family: 'Fira Sans', sans-serif;
  }


}

.animation {

  @media (min-width: 1000px) {
    width: 60em;
  }

  width: 40em;
  height: 4em;
  margin: 10% auto 0 auto;
  position: relative;
}

.main { // parent class
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  h2 {
    width: 75%;
    margin: 3em auto 0 auto;
    text-transform: none;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-family: 'Fira Sans'
    
    
  }
}

  .mask {
    overflow: hidden;
    position: relative;
  }

@keyframes animation-5-bottom-right {
  0% {transform: translate3d(-100%, 96%, 0);}
  8% {transform: translate3d(-100%, 96%, 0);}  
  30% {transform: translate3d(0, 96%, 0);}  
  38% {transform: translate3d(0, 0, 0);}
}

@keyframes animation-5-top {
  0% {transform: translate3d(100%, 0, 0);}  
  38% {transform: translate3d(100%, 0, 0);}  
  58% {transform: translate3d(0, 0, 0);}
}

@keyframes animation-5-bottom-left {
  0% {transform: translate3d(-98%, -100%, 0);}  
  58% {transform: translate3d(-98%, -100%, 0);}  
  64% {transform: translate3d(-98%, 0, 0);}  
  100% {transform: translate3d(-75%, 0, 0);}
}

@keyframes animation-5-text-name {
  0% {transform: translate3d(0, 100%, 0);}
  25% {transform: translate3d(0, 100%, 0);}
  45% {transform: translate3d(0, 0, 0);}
}

@keyframes animation-5-text-title {
  0% {transform: translate3d(0, -100%, 0);}
  35% {transform: translate3d(0, -100%, 0);}
  55% {transform: translate3d(0, 0, 0);}
  
}

#animation-5 {

  text-align: center;
  height: 7em;

  @media (min-width: 1000px) {
  text-align: center;
  height: 10.5em;
  }
  
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
    
  line {
    stroke-width: 12px;
    stroke: $red;
  }
  
  // change the 1 to how ever many iterations you want or infinate for a loop
  div,
  .clip-path {
    animation: 3.1s ease-out 1 alternate both;
  }
  
  .bottom-right,
  .right {
    clip-path: url(#mask-bottom-right);
  }
  
  .top {
    clip-path: url(#mask-top);
  }
  
  .bottom-left,
  .left {
    clip-path: url(#mask-bottom-left);
  }
  
  #mask-bottom-right > .clip-path {
      animation-name: animation-5-bottom-right;
  }
  
  #mask-top > .clip-path {
      animation-name: animation-5-top;
  }
  
  #mask-bottom-left > .clip-path {
      animation-name: animation-5-bottom-left;
  }
  
  & > div:nth-child(2) {

    font-size: 4em;
    padding-top: .4em;

    @media (min-width: 1000px) {
    font-size: 6em;
    padding-top: .4em;
    }

    div {
      animation-name: animation-5-text-name;
    }
  }
  
  & > div:nth-child(3) {

    font-size: 1.8em;
    letter-spacing: .7px;
    margin-top: .2em;

    @media (min-width: 1000px) {
    font-size: 2.7em;
    letter-spacing: .7px;
    margin-top: .2em;
    }
    
    div {
      animation-name: animation-5-text-title;
    }
  }
}


// next page arrow animation
.box {
  position: absolute;
  left: 50%;
  margin-top: 5em;
}

.box span {
  
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}


/*
..About page stylings
*/

.middle{
  text-align: center;
}

.social-button{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #9C6615;
  overflow: hidden;
  position: relative;
}
.social-button svg{
  margin-top: 25px;
  font-size: 40px;
  transition: 0.2s linear;
}
.social-button:hover svg{
  transform: scale(1.3);
  color: #f1f1f1;
}
.social-button::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #9C6615;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.social-button:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

.about__container {
  height: calc(70vh - 32px);
  background: linear-gradient(0deg, rgba(36,37,38,1) 2%, rgba(22,38,46,1) 29%);

  h2 {
    height: 10%;
    margin: 0 5%;
    padding-top: 1em;
    color: #D3D0CB;
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Fira Sans';

    border-bottom: #9C6615 3px solid;
  }

  .about__profile-img {
    text-align: center;
    margin: auto;
    
    img{
      width: 100%;
      height: 50vh;
      border-radius: 50%;
      
    }
  }

}
.about__body { 
  background: linear-gradient(0deg, rgba(36,37,38,1) 2%, rgba(22,38,46,1) 29%);
  height: 80%;
  margin: 0 5%;
  border-right: #9C6615 3px solid;
  font-family: 'Fira Sans';
}

.about__description {
  color: #D3D0CB;
  margin: auto;
  text-align: center;
  width: 60%;

  p {
    font-size: 20px;
  }

  h3 {
    font-size: 26px;
    margin: 0;
  }

  ul {
    padding: 0
  }

  .socials {
    display: flex;
  }

  li {
    list-style: none;
    padding-bottom: 5px;
    font-size: 20px;
    a {
      color: #D3D0CB;
      text-decoration: none;
      &:hover {
       text-decoration: line-through;
      }
    }
  }

  .about__contact {
    display: flex;
    justify-content: space-between;
  }

}

@media (max-width: 1000px) {

  .about__body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin: 0 5%;

  }
  
  .about__description {
    text-align: center;
  }

}

@media (min-width: 1001px) {
  .about__body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .about__description {
    text-align: left;
    p {
      padding: 1em 0;

    }
  }
}

/*
..Carousel
*/
.c-slick__prev {
  left: 20px !important;
}

.c-slick__next {
  right: 20px !important;
}

.c-slick {
  position: absolute;
  top: 50%;
  z-index: 1000;
  font-size: 25px;
  svg {
    fill: #D3D0CB !important;
    path {
      fill: #D3D0CB !important;
    }
  }
}

.card__contianer {
  .icon__lan {
    font-size: 40px;
  }


  &:hover{
    svg {
      fill: #9C6615;
  
      path{
        color: #9C6615;
      }
    }

  }
  svg {
    fill: #D3D0CB;

    path{
      color: #D3D0CB;
    }
  }
}

.slider__container {
  height: calc(30vh - 32px);
  background-color: #242526;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -.5em;
}

.slick-list {
  text-align: center;
  margin: 0 auto !important;
}

.slick-next {  
  right: 0 !important;  
}
.slick-prev {
  left: 0 !important;
}

.slick-next::before, .slick-prev::before {
  color: black !important;
  
}

.slick-slide {

  .card__icon {
    width: 33%;
    margin: 0 auto;
  } 
  
  .card__name {
    color: #D3D0CB;
    font-family: 'Fira Sans';
  }
}



.slick-dots li button:before {
  color: orange !important;
}

/*
..porfolio page stylings
*/

.portfolio__container {
  height: 100vh;
  background-color: #D3D0CB;
  display: flex;

  .card__contianer {
    width: calc(100% / 2 );
    margin:  5em;
    text-align: center;
  }

  .card__icon {
    width: 100%;
  }
}

.container {
	max-width: 90%;
	margin:50px auto;
}
.timeline{
	position:relative;
	display:flex;
	flex-direction:column;
	list-style:none;
	padding-top: 20px;
	padding-bottom: 20px;
  padding-left: 0;

  .portfolio__description {
    border-top:1px solid #9C6615;
    width: calc(100% / 2) ;
  }

  .porfolio__info {
    padding: 1em
  }

  .portolio__img {
    width: 40%;
    img {
      width: 100%;
    }
  }
}
/* the timeline's center vertical line */
.timeline:before{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:50%;
	width: 1px;
	background-color: #9C6615;
}
.timeline li{
  display: flex;
  justify-content: space-between;
	
	position:relative;
	min-height:100px;
	margin-bottom:20px;
	text-align: right;
	transition:.3s;
	opacity:0;
	transform: translateX(-10%);
}
/* the rounded mark on each timeline item */
.timeline .portfolio__description:before {
	content:"";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	right: 50%;
	background: #9C6615;
	border-radius:50%;
	box-sizing:border-box;
	transform: translate(50%,-50%);
}
.timeline h3 {
	font-size:28px;
	margin-bottom: 10px;
}
.timeline p {
  font-size: 20px;
  line-height: 28px;
}
.timeline li:nth-child(2n) {
  display: flex;
	flex-direction: row-reverse;
	text-align: left;
	transform: translateX(10%);
}
.timeline li:nth-child(2n):before {
	left: 0;
  transform: translate(-50%,-50%);
}
.timeline li.visible {
	opacity:1;
	transform:translateX(0);
}