body {
  margin: 0;
}

/*
..Nav page stylings
*/

.header {
  position: fixed;
  width: 100%;
  height: 7vh;
  color: #D3D0CB;
  display: flex;
  flex-direction: row;
  justify-content: center;

  h2 {
    margin: auto 1em;
    text-align: center;
    font-weight: 200;
    font-family: 'Fira Sans', sans-serif;
  
  }

  h2:hover {
    color: #9C6615;
  }

  &--show {
    background-color: #242526
  }

  &--hiden {
    background-color: none;
  }
}

/*
..Hero page stylings
*/

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./image-from-rawpixel-id-2252698-jpeg.jpg');
  color: #D3D0CB;

  h1 {
    font-size: 5em;
    border-bottom: thick double #9C6615;
    font-family: 'Fira Sans', sans-serif;
  }

  h2 {
    width: 75%;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-family: 'Fira Sans'
    
    
  }
  
}

/*
..About page stylings
*/

.about__container {
  height: 70vh;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__profile-img {
  text-align: center;

  img{
    height: auto;
    width: 30%;
    border-radius: 50%;
  }
}

.about__description {
  width: 60%;
}

/*
..Carousel
*/

.slider__container {
  height: 30vh;
}

.slick-list {
  width: 75%;
  text-align: center;
  margin: 0 auto !important;
}

.slick-next {  
  right: 0 !important;  
}
.slick-prev {
  left: 0 !important;
}

.slick-next::before, .slick-prev::before {
  color: black !important;
  
}

.card__icon {
  width: 33%;
  margin: 0 auto;
} 

.slick-slider {
  top: 50%;
}