body {
  margin: 0;
}

.header {
  height: 7vh;
  background-color: grey;

  h3 {
    margin: 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}