body {
  margin: 0;
}

/*
..Nav page stylings
*/

.header {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #D3D0CB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  z-index: 1;
  

  li {
    margin: 1em 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    font-family: 'Fira Sans', sans-serif;
    color: #D3D0CB;
    text-decoration-line: none;
  }

  li:hover {
    color: #9C6615;
  }

  &--show {
    background-color: #242526
  }

  &--hiden {
    background-color: none;
  }
}

/*
..Hero page stylings
*/
$red: #9C6615;




.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./image-from-rawpixel-id-2252698-jpeg.jpg');
  color: #D3D0CB;

  h1 {
    font-size: 5em;
    border-bottom: thick double #9C6615;
    font-family: 'Fira Sans', sans-serif;
  }

  h2 {
    width: 75%;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-family: 'Fira Sans'
    
    
  }
  
}

.animation {

  @media (min-width: 1000px) {
    width: 60em;
  }

  width: 40em;
  height: 4em;
  margin: 1em auto;
  position: relative;
}

.main { // parent class
  margin-top: 25%;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  .mask {
    overflow: hidden;
    position: relative;
  }

@keyframes animation-5-bottom-right {
  0% {transform: translate3d(-100%, 96%, 0);}
  8% {transform: translate3d(-100%, 96%, 0);}  
  30% {transform: translate3d(0, 96%, 0);}  
  38% {transform: translate3d(0, 0, 0);}
}

@keyframes animation-5-top {
  0% {transform: translate3d(100%, 0, 0);}  
  38% {transform: translate3d(100%, 0, 0);}  
  58% {transform: translate3d(0, 0, 0);}
}

@keyframes animation-5-bottom-left {
  0% {transform: translate3d(-98%, -100%, 0);}  
  58% {transform: translate3d(-98%, -100%, 0);}  
  64% {transform: translate3d(-98%, 0, 0);}  
  100% {transform: translate3d(-75%, 0, 0);}
}

@keyframes animation-5-text-name {
  0% {transform: translate3d(0, 100%, 0);}
  25% {transform: translate3d(0, 100%, 0);}
  45% {transform: translate3d(0, 0, 0);}
}

@keyframes animation-5-text-title {
  0% {transform: translate3d(0, -100%, 0);}
  35% {transform: translate3d(0, -100%, 0);}
  55% {transform: translate3d(0, 0, 0);}
  
}

#animation-5 {

  text-align: center;
  height: 7em;

  @media (min-width: 1000px) {
  text-align: center;
  height: 10.5em;
  }
  
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
    
  line {
    stroke-width: 12px;
    stroke: $red;
  }
  
  // change the 1 to how ever many iterations you want or infinate for a loop
  div,
  .clip-path {
    animation: 3.1s ease-out 1 alternate both;
  }
  
  .bottom-right,
  .right {
    clip-path: url(#mask-bottom-right);
  }
  
  .top {
    clip-path: url(#mask-top);
  }
  
  .bottom-left,
  .left {
    clip-path: url(#mask-bottom-left);
  }
  
  #mask-bottom-right > .clip-path {
      animation-name: animation-5-bottom-right;
  }
  
  #mask-top > .clip-path {
      animation-name: animation-5-top;
  }
  
  #mask-bottom-left > .clip-path {
      animation-name: animation-5-bottom-left;
  }
  
  & > div:nth-child(2) {

    font-size: 4em;
    padding-top: .4em;

    @media (min-width: 1000px) {
    font-size: 6em;
    padding-top: .4em;
    }

    div {
      animation-name: animation-5-text-name;
    }
  }
  
  & > div:nth-child(3) {

    font-size: 1.8em;
    letter-spacing: .7px;
    margin-top: .2em;

    @media (min-width: 1000px) {
    font-size: 2.7em;
    letter-spacing: .7px;
    margin-top: .2em;
    }
    
    div {
      animation-name: animation-5-text-title;
    }
  }
}




/*
..About page stylings
*/

.about__container {
  height: 70vh;
  background-color: #16262E;

  h2 {
    height: 10%;
    margin: 0 5%;
    padding-top: 1em;
    color: #D3D0CB;
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Fira Sans';

    border-bottom: #9C6615 3px solid;
  }

}

@media (max-width: 1000px) {
  .about__body { 
    background-color: #16262E;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin: 0 5%;
    border-right: #9C6615 3px solid
  }
  
  .about__profile-img {
    text-align: center;
    width: 50%;
    margin: auto;
    
    img{
      width: 75%;
      border-radius: 50%;
      
    }
  }
  
  .about__description {
    color: #D3D0CB;
    margin: auto;
    text-align: center;
    width: 60%;
    font-size: 2em;
    font-weight: 200;
    font-style: italic;
    font-family: 'Fira Sans'
    
  }
}

@media (min-width: 1001px) {
  .about__body {
    background-color: #16262E;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    margin: 0 5%;
    border-right: #9C6615 3px solid
  }
  
  .about__profile-img {
    text-align: center;
    width: 50%;

    img{
      width: 45%;
      border-radius: 50%;
    }
  }
  
  .about__description {
    color: #D3D0CB;
    margin: auto;
    text-align: center;
    width: 60%;
    font-size: 2em;
    font-weight: 200;
    font-style: italic;
    font-family: 'Fira Sans';

    p {
      padding: 2em;
    }
  }
}

/*
..Carousel
*/

.slider__container {
  height: 30vh;
  background-color: #242526;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slick-list {
  text-align: center;
  margin: 0 auto !important;
}

.slick-next {  
  right: 0 !important;  
}
.slick-prev {
  left: 0 !important;
}

.slick-next::before, .slick-prev::before {
  color: black !important;
  
}

.slick-slide {

  .card__icon {
    width: 33%;
    margin: 0 auto;
  } 
  
  .card__name {
    color: #D3D0CB;
    font-family: 'Fira Sans';
  }
}



.slick-dots li button:before {
  color: orange !important;
}

/*
..porfolio page stylings
*/

.portfolio__container {
  height: 100vh;
  background-color: #D3D0CB;
  display: flex;

  .card__contianer {
    width: calc(100% / 2 );
    margin:  5em;
    text-align: center;
    
  }

  .card__contianer:nth-child(2n) {
    margin: 15em 5em 5em 5em;
    width: calc(100% / 2 );
  }

  .card__icon {
    width: 100%;
  }
}